<div class="box mb-4">
	<div class="register mt-2">
		<form class="login-form" id="signup_Form" action="/adSignup" method="POST">
			<h3 class="text-center">New Admin Register Here </h3>
			<label for="fname">First Name :</label>
			<br>
			<input type="text" name="first_name" id="fname" class="inputfield" placeholder="Enter Your First Name">
			<br><br>
			<label for="lname">Last Name :</label>
			<br>
			<input type="text" name="last_name" id="lname" class="inputfield" placeholder="Enter Your Last Name">
			<br><br>
			<label for="Email">Email address :</label>
			<br>
			<input type="text" name="email" id="email" class="inputfield" placeholder="Enter Your Email">
			<br><br>
			<label for="password">Password :</label>
			<br>
			<input type="password" name="password" id="password" class="inputfield" placeholder="* * * * * * * *">
			<br><br>

			<label for="Phone">Phone :</label>
			<br>
			<input type="text" name="phone_number" id="Phone" class="inputfield" placeholder="Enter Your Phone Number">
			<br><br>
			<input type="reset" name="reset" value="Clear" id="reset" class="btn btn-primary text-dark" />
			<input class="text-dark btn btn-primary" type="button" value="SingUp" onclick="adminSignupForm()">
			<a class="btn btn-primary text-dark" href="/">Login</a>
		</form>

	</div>
</div>