<div class="main-container mt-5">
    <h2 class="mb-5"> OUR SERVICES </h2>
    <div class="card-group">

        <div class="card me-5">
            <img src="images/Services/HD.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Designing the Home</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card me-5">
            <img src="images/Services/HC.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Home Construction</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card me-5">
            <img src="images/Services/HR.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Home renovation</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>


        <div class="card">
            <img src="images/Services/RS.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Roofing Services</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>



    </div>
</div>



<div class="main-container mt-5">
    <div class="card-group">

        <div class="card me-5">
            <img src="images/Services/Paint.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Painting and Wall Coverings</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card me-5">
            <img src="images/Services/Floor.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Flooring Services</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>


        <div class="card me-5">
            <img src="images/Services/KITCHEN.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">kitchen</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card">
            <img src="images/Services/BATHROOM.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">bathroom countertops</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

    </div>
</div>



<div class="main-container mt-5 mb-5">
    <div class="card-group">

        <div class="card me-5">
            <img src="images/Services/DOORWINDOW.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Window and Door Installation</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card me-5">
            <img src="images/Services/Drywall.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Drywall Installation</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>


        <div class="card me-5">
            <img src="images/Services/ELECT.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Electrical Services</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

        <div class="card">
            <img src="images/Services/PLUMBING.png" class="mt-5 cardimage" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Plumbing Services</h5>
                <h5 class="card-title text-center"> <a href="bhopal/service/home-construction.html"
                        class="btn btn-primary">BOOK</a></h5>
            </div>
        </div>

    </div>
</div>