<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #122d36">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Maneshwar Construction
          </h6>
          <p>
            At Maneshwar Construction, we are proud to be a prominent player in the construction industry. Our main goal
            is to deliver exceptional solutions that surpass our clients' expectations. We take great pride in our work.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> Bhopal Madhya Pradesh</p>
          <p><i class="fas fa-envelope mr-3"></i> webdev.durgesh@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> +91 966 993 1360</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-6 mx-auto mt-5 mb-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f fb"></i></a>

          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter tw"></i></a>


          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="color: #ac2bac" href="#!" role="button"><i
              class="fab fa-instagram"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in tw"></i></a>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Durgesh Bisen
  </div>
</footer>