<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-item sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="nav-link">Dashboard</span>
        </div>
        <div class="nav-item search-box">
          <input class="form-control" type="text" placeholder="Search...">
          <i class='bx bx-search'></i>
        </div>
        <div class="nav-item profile-details">
          <!--<img src="images/profile.jpg" alt="">-->
          <span class="nav-link">Welcome, Prem Shahi</span>
          <i class='bx'></i>
        </div>
      </div>
    </div>
  </div>
</nav>