<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Maneshwar Construction Service on fair</title>
    <link rel="icon" href="images/logo/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/home.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/login.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/aboutus.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/contect.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/userinfo.css">
    <link rel="stylesheet" type="text/css" href="css/efectAnimation.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/services.css">
    <link rel="stylesheet" type="text/css" href="css/SCSS/worker.css">
</head>

<body>
    {{{ body }}}
    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-K6neVsm/j0pjoUB+2e4pUq6cXL6Xe/4Gxch3z0XsOqA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-xrR0+NjyiMkj2N9jc+Fh6Ph8+6k0Zx31Xmyt7Bj9K0wBcR1BC7YL5Pj1AQVxg7t7"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="js/index.js"></script>
    <script src="js/animation.js"></script>
    {{!-- popup js links --}}
    <script src="js/popupMessage/popup.js"></script>
</body>

</html>