{{> navbar}}
<div class="container mt-5">
    <h2 class="mb-5 text-center"> Our Services </h2>
    <div class="row mt-5 mb-5">
        {{#each Show_Service}}
        <div class="col-lg-3 mb-4">
            <div class="card text-center">
                <div class="member-card pt-3 pb-3">
                    <div class="thumb-lg member-thumb mx-auto">
                        <img src="/uploads/{{image}}" class="card-img-top mx-auto d-block" alt="profile-image">
                    </div>
                    <div class="mt-4">
                        <h5 class="card-title text-center">{{titlename}}</h5>
                    </div>
                    <a href="/services{{_id}}" class="btn btn-primary text-dark">Full Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>