<div class="box mt-2 mb-4">
	<div class="register mt-5">
		<form class="login-form" id="register" action="/registration" method="POST">
		<h2>New User Register Here </h2>
			<label for="fname">First Name :</label>
			<br>
			<input type="text" name="first_name" id="fname" class="inputfield" placeholder="Enter Your First Name">
			<br><br>
			<label for="lname">Last Name :</label>
			<br>
			<input type="text" name="last_name" id="lname" class="inputfield" placeholder="Enter Your Last Name">
			<br><br>
			<div class="form-group">
				<label>Gender :</label>
				<div class="form-check form-check-inline">
					<input type="radio" name="gender" id="male" value="male" class="form-check-input">
					<label class="form-check-label" for="male">Male</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" name="gender" id="female" value="female" class="form-check-input">
					<label class="form-check-label" for="female">Female</label>
				</div>
			</div>
			<br>
			<input type="text" name="email" id="email" class="inputfield" placeholder="Enter Your Email">
			<br><br>
			<label for="password">Password :</label>
			<br>
			<input type="password" name="password" id="password" class="inputfield" placeholder="* * * * * * * *">
			<br><br>

			<label for="Phone">Phone :</label>
			<br>
			<input type="text" name="phone_number" id="Phone" class="inputfield" placeholder="Enter Your Phone Number">
			<br><br>
			<label for="Country">Country :</label>
			<br>
			<input type="text" name="country" id="Country" class="inputfield" placeholder="Country">
			<br><br>
			<label for="State">State :</label>
			<br>
			<input type="text" name="state" id="State" class="inputfield" placeholder="Enter Your State">
			<br><br>
			<label for="City">City :</label>
			<br>
			<input type="text" name="city" id="City" class="inputfield" placeholder="Enter Your City">
			<br><br>
			<label for="post">Post Code :</label>
			<br>
			<input type="text" name="post_code" id="post" class="inputfield" placeholder="Enter Your post Code">
			<br><br>
			<input type="reset" name="reset" value="Clear" id="reset" class="btn btn-primary"/>
			<input type="submit" name="submit" value="Submit" id="submit">
		</form>
	</div>
</div>