{{>navbar}}
<div class="main-container mt-5">
    <div class="input-group">
        <a href="/services" class="btn btn-primary text-dark">&laquo; Back</a>
    </div>
</div>
<div class="box mt-2 mb-4">
    <div class="register mt-5">
        <form class="login-form" id="book_Service" action="/booking_service" method="POST">
            <h3 class="card-title mb-3 text-center">Book Service</h3>
            <div class="form-group">
                <label for="fname">Full Name</label>
                <input type="text" name="full_name" id="full_name" class="form-control"
                    placeholder="Enter Your full Name">
            </div>

            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email">
            </div>
            <div class="form-group mt-2">
                <label for="Phone">Phone</label>
                <input type="number" name="phone_number" id="Phone" class="form-control"
                    placeholder="Enter Your Phone Number">
            </div>
            <div class="form-group mt-2">
                <label for="Country">Location</label>
                <input type="text" name="location" id="Country" class="form-control"
                    placeholder="Enter Your full Address hear...">
            </div>
            <div class="form-group mt-2">
                <label for="Country">Address</label>
                <textarea class="form-control" name="address" id="Country" cols="30" rows="3"
                    placeholder="Enter Your full Address hear..."></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="Service">Type of Work</label>
                <input type="text" name="type_of_work" id="Service" class="form-control"
                    placeholder="Enter Your Work Type">
            </div>
            <div class="form-group mt-2">
                <label for="Service">Project Details</label>
                <textarea name="projec_details" id="Service" class="form-control" placeholder="Enter Your Service"
                    cols="30" rows="5"></textarea>
            </div>

            <div class="form-group mt-2">
                <label for="Charge">Budget</label>
                <input type="number" name="budget" id="salary" class="form-control" placeholder="Enter Your Charge">
            </div>
            <div class="form-group mt-4">
                <label for="Charge">Preferred Start Date</label>
                <input type="date" name="preferred_start_date" id="salary" class="form-control"
                    placeholder="Enter Your Charge">
            </div>
            <div class="form-group mt-3">
                <input type="reset" name="reset" value="Clear" class="btn btn-primary text-dark">
                <input class="btn btn-primary text-dark" type="button" value="Submit" onclick="submitServiceForm()">
            </div>
        </form>
    </div>
</div>